.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    height: 10vh;
    position: fixed;
    top: 0;
    width: 96%;
    z-index: 1;
}

.navbar-links {
    font-size: 19px;
    padding-right: 40px;
}

.navbar .navbar-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 45px;
}

.navbar .navbar-links, a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navbar .navbar-logo{
    font-size: 40px;
}